* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/sfondo.png");
  background-size: cover;
}

.container {
  width: 1000px;
  margin: auto;
}

.header-top {
  position: relative;
  height: 300px;
  background-image: url("../img/header.jpg");
  border: 5px solid #fff;
  margin-top: 10px;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-family:sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  display: inline-block;
  font-size: 50px;
  border: 2px solid #fff;
  margin-bottom: 10px;
  padding: 10px;
}

h2 {
  padding: 10px;
}

main {
  margin: 1% 0;
}

main::after {
  content:"";
  display: table;
  clear:both;
}

.box1,.box2,.box3 {
  float: left;
}

.box1 {
  width: 23%;
  margin-right: 2%;
  background-color:#ff99ff;
}

.box2 {
  width: 50%;
  background-color: #990099;
}

.box3 {
  width: 23%;
  margin-left: 2%;
}

.widget {
  height: 75px;
  margin-bottom: 5%;
  background-color: #ff99ff;
}

footer {
  height: 100px;
  background-color: blue;
}
