* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/sfondo.png");
  background-size: cover;
}

.container {
  width: 1000px;
  margin: auto;
}

.header-top {
  position: relative;
  height: 300px;
  background-image: url("../img/header.jpg");
  border: 5px solid #fff;
  margin-top: 10px;
}

.container-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
  font-family:sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

h1 {
  display: inline-block;
  font-size: 50px;
  border: 2px solid #fff;
  margin-bottom: 10px;
  padding: 10px;
}

h2 {
  padding: 10px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: grey;
}

.main-menu{
    list-style: none;
    text-align: center;
  }

.main-menu li {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
}

.main-menu a{
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 14px;
  color: #fff;
}

main {
  margin: 1% 0;
}

main::after {
  content:"";
  display: table;
  clear:both;
}

.box1,.box2,.box3 {
  float: left;
  background-color: #fff;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
}

.fa-rss-square {
  font-size: 14px;
}

.box1 {
  width: 18%;
  margin-right: 2%;
  padding: 2px;
}

.box2 {
  width: 60%;
  padding: 5px;
}

.box3 {
  width: 18%;
  margin-left: 2%;
  margin-bottom: 10%;
  padding: 1%;
}

.widget {
  margin-bottom: 20%;
  background-color: #fff;
}

footer {
  position: relative;
  height: 100px;
  margin-bottom: 10px;
  background-color: #fff;
}

.firma {
  display: block;
  vertical-align: text-top;
  text-align: center;
  font-size: 12px;
  font-family: roboto, sans-serif;
  color: Grey;
  padding: 2px;
}

.box-f {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -15%);
  background-color: #fff;
}

.box-ig{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box-lin {
  position: absolute;
  top: 50%;
  right: 15%;
  transform: translate(-50% , -15%);
}

.box-f, .box-ig, .box-lin {
  display: inline-block;
}
